@{
    ViewData["Title"] = "GUI";
}
<header style="height: 10%">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <h1 style="text-align: center; width: 100%">Evolutionary Algorithm</h1>
        </div>
    </nav>
</header>

<div class="row full" style="text-align: center; height: 90%">
    <div id="options" class="col-3 side-panel">
        <div class="primary">
            <div class="primary padded" style="height: 90%; background-color: #d3d3d3">
                <div id="row_heuristic" class="row">
                    <label class="optionLabel" for="input_heuristic">Heuristic</label>
                    <select class="optionValue" id="input_heuristic">
                        <option value="Asymmetric">1 + λ SA Asymmetric</option>
                        <option value="StagnationDetection">1 + λ SA /w 1 + λ SASD</option>
                        <option value="Repair">1 + (λ, λ) GA /w SA 1/5 λ</option>
                        <option value="SingleEndogenous">1 + λ Endogenous SAGA</option>
                        <option value="MultiEndogenous">λ + λ Endogenous SAGA /w Single-Point Crossover & Tournament selction</option>
                        <option value="HeavyTail">1 + λ SAGA Heavytail</option>
                        <!-- <option value="Custom">Custom</option> -->
                    </select>
                </div>
                <div id="row_fitness" class="row">
                    <label class="optionLabel" for="input_fitness">Fitness function</label>
                    <select class="optionValue" id="input_fitness">
                        <option value="OneMax">OneMax</option>
                        <option value="LeadingOnes">LeadingOnes</option>
                        <option value="Jump">Jump</option>
                        <option value="MinimumSpanningTree">Minimum spanning tree</option>
                        <option value="Satisfiability">Satisfiability Problem</option>
                    </select>
                </div>
                
                <div id="row_hyper_heuristic" class="row hidden">
                    <label class="optionLabel" for="input_hyper_heuristic">Create individual by...</label>
                    <select class="optionValue" id="input_hyper_heuristic">
                        <option value="Simple">Simple</option>
                        <option value="StagnationDetection">Stagnation detection</option>
                    </select>
                </div>
                <div id="row_creation" class="row hidden">
                    <label class="optionLabel" for="input_creation">Create using...</label>
                    <select class="optionValue" id="input_creation">
                        <option value="BestIndividual<">Best individual</option>
                        <option value="TournamentSelection">Tournament Selection</option>
                        <option value="MultiTournamentSelection">Tournament Selection + 2 parent crossover</option>
                    </select>
                </div>
                <div id="row_mutation" class="row hidden">
                    <select class="optionValue" id="input_mutation">
                        <option value="">Then apply...</option>
                        <option value="Asymmetric">Asymmetric mutation </option>
                        <option value="EndogenousSelf">Endogenous self adapting</option>
                        <option value="Repair">Mutate & repair</option>
                        <option value="HeavyTail">Heavytail self adapting</option>
                    </select>
                </div>
                <div id="row_generation_filter" class="row hidden">
                    <label class="optionLabel" for="input_generation_filter">Filter generations by</label>
                    <select class="optionValue" id="input_generation_filter">
                        <option value="Elitism">Elitism + no bias</option>
                        <option value="ElitismNew">Elitism + new bias</option>
                        <option value="ElitismNewLow">Elitism + new bias + low mutation rate bias</option>
                    </select>
                </div>

                <div id="row_formulas" class="row hidden">
                    <label class="optionLabel" for="input_formulas">Amount of formulas</label>
                    <input class="optionValue" value="20" id="input_formulas" type="number"/>
                </div>
                <div id="row_formula_size" class="row hidden">
                    <label class="optionLabel" for="input_formula_size">Size of formulas</label>
                    <input class="optionValue" value="3" id="input_formula_size" type="number"/>
                </div>
                <div id="row_variables" class="row hidden">
                    <label class="optionLabel" for="input_variables">Amount of variables</label>
                    <input class="optionValue" value="60" id="input_variables" type="number"/>
                </div>
                
                <div id="row_nodes" class="row hidden">
                    <label class="optionLabel" for="input_nodes">Nodes</label>
                    <input class="optionValue" value="20" id="input_nodes" type="number"/>
                </div>
                <div id="row_edgeChance" class="row hidden">
                    <label class="optionLabel" for="input_edgeChance">Edge chance</label>
                    <input class="optionValue" value="0.5" id="input_edgeChance" type="number"/>
                </div>
                <div id="row_jump" class="row hidden">
                    <label class="optionLabel" for="input_jump">Jump size</label>
                    <input class="optionValue" value="5" id="input_jump" type="number"/>
                </div>
                <div id="row_geneCount" class="row hidden">
                    <label class="optionLabel" for="input_geneCount">Gene count</label>
                    <input class="optionValue" value="1000" id="input_geneCount" type="number"/>
                </div>
                <div id="row_mu" class="row hidden">
                    <label class="optionLabel" for="input_mu">Mu</label>
                    <input class="optionValue" value="1" id="input_mu" type="number"/>
                </div>
                <div id="row_lambda" class="row hidden">
                    <label class="optionLabel" for="input_lambda">Lambda</label>
                    <input class="optionValue" value="10" id="input_lambda" type="number"/>
                </div>
                <div id="row_mutationRate" class="row hidden">
                    <label class="optionLabel" for="input_mutationRate">Mutation rate (p in p/n)</label>
                    <input class="optionValue" value="2" id="input_mutationRate" type="number"/>
                </div>
                <div id="row_beta" class="row hidden">
                    <label class="optionLabel" for="input_beta">Beta</label>
                    <input class="optionValue" value="1.5" id="input_beta" type="number"/>
                </div>
                <div id="row_limitFactor" class="row hidden">
                    <label class="optionLabel" for="input_limitFactor">Limit factor</label>
                    <input class="optionValue" value="1" id="input_limitFactor" type="number"/>
                </div>
                <div id="row_learningRate" class="row hidden">
                    <label class="optionLabel" for="input_learningRate">Learning rate</label>
                    <input class="optionValue" value="2" id="input_learningRate" type="number"/>
                </div>
                <div id="row_observationPhase" class="row hidden">
                    <label class="optionLabel" for="input_observationPhase">Observation phase</label>
                    <input class="optionValue" value="10" id="input_observationPhase" type="number"/>
                </div>
                <div id="row_repairChance" class="row hidden">
                    <label class="optionLabel" for="input_repairChance">Repair chance (p in p/n)</label>
                    <input class="optionValue" value="1" id="input_repairChance" type="number"/>
                </div>
            </div>
            <div class="secondary padded" style="height: 10%; background-color: darkgrey">
                <button id="button_initialize"
                        class="btn btn-primary"
                        style="width: 100%; height: 100%">
                    Initialize
                </button>
            </div>
        </div>
        <div class="secondary" style="background-color: grey">
            <div class="primary padded">
                <div id="row_termination" class="row">
                    <label class="optionLabel" for="input_termination">Termination</label>
                    <select class="optionValue" id="input_termination">
                        <option value="Fitness">Fitness</option>
                        <option value="Time">Timeout</option>
                        <option value="Generations">Generations</option>
                        <option value="Stagnation">Stagnation</option>
                    </select>
                </div>
                <div id="row_seconds" class="row hidden">
                    <label class="optionLabel" for="input_seconds">Time in seconds</label>
                    <input class="optionValue" value="10" id="input_seconds" type="number"/>
                </div>
                <div id="row_fitnessLimit" class="row hidden">
                    <label class="optionLabel" for="input_fitnessLimit">Fitness</label>
                    <input class="optionValue" value="1000" id="input_fitnessLimit" type="number"/>
                </div>
                <div id="row_generations" class="row hidden">
                    <label class="optionLabel" for="input_generations">Generations</label>
                    <input class="optionValue" value="1000" id="input_generations" type="number"/>
                </div>
            </div>
            <div class="secondary padded" style="background-color: black">
                <button style="width:50%; height: 100%; float: left; border-top-right-radius: 0; border-bottom-right-radius: 0;" id="button_run" class="btn btn-info">Run</button>
                <button style="width:50%; height: 100%; float: left; border-top-left-radius: 0; border-bottom-left-radius: 0;" id="button_pause" class="btn btn-danger">Pause</button>
            </div>

        </div>
    </div>
    <div class="col-9">
        <div id="primaryGraph" class="primary">
        </div>
        <div class="row secondary">
            <div id="secondaryGraph" class="col-6"></div>
            <div id="ternaryGraph" class="col-6"></div>
        </div>
    </div>
</div>