<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Evolutionary Algorithms</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="full">
    <main role="main" class="full">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/canvasjs/canvasjs.min.js"></script>
<script src="~/lib/cytoscape/cytoscape.min.js"></script>

<script src="~/js/input.js" asp-append-version="true"></script>
<script src="~/js/parameters.js" asp-append-version="true"></script>

<script src="~/js/individual.js" asp-append-version="true"></script>
<script src="~/js/statistics.js" asp-append-version="true"></script>

<script src="~/js/api.js" asp-append-version="true"></script>
<script src="~/js/optionsController.js" asp-append-version="true"></script>
<script src="~/js/graph.js" asp-append-version="true"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>